// Fig 4.1: edittext.rc
// multiline edit text resource file
#include <afxres.h>
#include "edittext_ids.h"

EditText DIALOG  50, 50, 130, 130
CAPTION "Edit"
{
   LTEXT          "Enter text:", 
                  IDC_STATIC, 30,  20, 50, 8

   // Define edit text with identifier IDC_TEXT, 
   // position (30, 30) and size 70 by 64
   // edit styles multiline and auto vertical scroll
   EDITTEXT       IDC_TEXT,   30,  30, 70, 64, 
                  ES_MULTILINE | ES_WANTRETURN | WS_VSCROLL

   DEFPUSHBUTTON  "Count", 
                  IDC_COUNT,  50, 100, 30, 15
}
